# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Text Editor Temporaries
*~
*.swp

# Mac Filesystem
.DS_Store?

# Compiled Sources
*.o
*.so
*.a
*.dylib
*.pyc